.blogs{
    width: 100%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    grid-template-areas: "a1"
                        "a2";
    padding: 10px;
    
    &__contenedor{
        display: flex;
        flex-direction:column;
        gap: 30px;
    }
    &__imagen{
        width: 100%;
        border-radius: 10px;
        
    }
    &__titulos{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        gap: 10px;
        i{
            font-size: 45px;
            color: $color2;
        }
    }
    &__blog{
        padding: 10px;
       
    }
    .blog__parrafo{
        line-height: 1.5;
        margin-top: 10px;
        }
    
}
.aside{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    &__form{
        display: flex;
        flex-direction: column;
        margin: 10px;
        input{
            height: 30px;
        }
    }
    li{
        padding: 5px;
        border: 1px solid rgb(228, 225, 225);
        list-style-type: none;
    }
}