#programas {
    .contenedor {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 20px;
        padding: 10px;

        .programas_datos {
            margin-bottom: 20px;
           
            .programas_titulo{
                @include texto_titulo(1.5rem);
                padding-bottom: 15px;
            }
            
        }
        .programas_parrafos{
                line-height: 1.5;
                padding-top: 10px ;
            }

        .contenedor_cars {
            display: grid;
            grid-row: 2;
            grid-template-columns: 1fr;
            gap: 20px;

            .cards {

                /* margin-top: 20px;*/
                padding: 10px;

                img {
                    height: 30vh;
                    width: 100%;
                   object-fit: cover; 
                   padding-bottom: 10px;
                }

            }
        }
    }
}